
main {

  max-width: 1040px;
  margin: 0 auto;
  
  h2 {
    font: var(--mavenpro-size-md);
    text-align: center;
    
    color: var(--color-red);
    margin-bottom: 8px;
  }

  &>p {
    color: var(--gray-600);
    font: var(--asap-size-md);

    text-align: center;

    margin-bottom: 56px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  article {
    max-width: 300px;
    margin-bottom: 45px;
  }
  
  article img {
    width: 300px;
    object-fit: cover;
    border-radius: 8px;

  }

  h3 {
    font: var(--asap-size-sm);
    color: var(--gray-600);

    margin-block: 20px 8px;
  }
  
  p {
    font: var(--mavenpro-size-sm);
    color: var(--gray-500);
  }

}